nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  padding: 15px 30px;
  margin: 20px auto;
  width: 95%;
  border-radius: 13px;
  z-index: 100;
}
nav .links {
  display: flex;
  gap: 15px;
  font-family: poppins;
}
nav .links li {
  transition: all 0.4s ease-in-out;
  padding: 20px 10px;
  border-radius: 7px;
  cursor: pointer;
}
nav .links li a {
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  color: gold;
  font-weight: 700;
}
nav .links li:hover {
  background-color: gold;
  color: black;
}
nav .links li:hover a {
  color: black;
}
